
<%= form_for(project.tasks.build) do |f| %>
<div class = "input-group">
  <%= f.hidden_field :project_id %>
    <%= f.text_field :content, placeholder: "New todo", class: "form-control" %>
  <span class="input-group-btn"><%= f.submit "Add", class: "btn btn-default" %></span>
  </div>
<% end %>
