<div class= "container">
	<div class = "row">
		<div class = "col-md-2 well">
			Profile image.
		</div>
		<div class = "col-md-6 well">
			<h1><%= @user.username %> <%= @user.created_at.strftime("%Y") %> </h1>
		</div>

	</div>
	<div class = "row" >
		<div class = "col-md-6 ">
			<%= render "pages/makepost" %>
		</div>
		<div class = "col-md-2">
			TREAT YOUR SELF
		</div>
	</div>
</div>