<div class = "form-group">
	<%= form_for [@user, @post] do |f| %> 
	<%= f.text_area :content, class: 'form-control', placeholder: 'Rectangle. America. Megaphone. Monday. Butthole.' %>
	<%= f.hidden_field :post_type, :value => 1 %>
</div> <!-- form group-->

<p class = "text-center"><%= f.submit class: 'btn btn-warning' %> </p>

	<% end %>