<div class="form-group">
    <%= form_for [@user, @post] do |f| %>
    <p><%= f.label "Anne you" %></p>
      <select class="input-group form-control" id = "comp-val1">
          <option>Beautiful</option>
          <option>Wonderful</option>
          <option>Opulent</option>
      </select>
      <select class="input-group form-control" id = "comp-val2">
        <option>Tropical</option>
        <option>Gay</option>
        <option>Harmonious</option>
      </select>
      <select class="input-group form-control" id = "comp-val3">
        <option>Fish</option>
        <option>Penguin</option>
        <option>Musk-Ox</option>
      </select>
      </div>
      <%= f.hidden_field :content, :id => "comp-result" , :value => "Testing" %>
      <%= f.hidden_field :post_type, :value => 2 %>
      <p class = "text-center"><%= f.submit "Compliment", class: 'btn btn-warning', id: 'comp-button' %></p>
    <% end %>
