




  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Announce</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Compliment</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Anniversary</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Projects</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    	<div class = "content-div">
		<div class = "form-group">
			<%= form_for [@user, @post] do |f| %> 
			<%= f.text_area :content, class: 'form-control', placeholder: 'Chainsaws. America. Butthole.' %>
		</div> <!-- form group-->
	
			<p class = "text-center"><%= f.submit class: 'btn btn-warning' %> </p>
		
			<% end %>
		 </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <div class = "content-div">
			    <div class="form-group">
            <%= form_for [@user, @post] do |f| %>
            <p><%= f.label "Anne you" %></p>
  			      <select class="input-group form-control" id = "comp-val1">
                  <option>Beautiful</option>
                  <option>Wonderful</option>
                  <option>Opulent</option>
              </select>
  			      <select class="input-group form-control" id = "comp-val2">
                <option>Tropical</option>
                <option>Gay</option>
                <option>Harmonious</option>
              </select>
  			      <select class="input-group form-control" id = "comp-val3">
                <option>Fish</option>
                <option>Penguin</option>
                <option>Musk-Ox</option>
              </select>
              <%= f.hidden_field :content, :id => "comp-result" , :value => "Testing" %>
  		        <p class = "text-center"><%= f.submit "Compliment", class: 'btn btn-warning', id: 'comp-button' %></p>
            <% end %>
			  </div>
  		</div>
	</div>
    <div role="tabpanel" class="tab-pane" id="messages">
    	<div class = "panel panel-warning">
    		<div class = "panel body">
    			The first day we ate waffles at J.J.'s Diner
    		</div>
    	</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
    <div class = "content-div">
    			<%= form_for [@user, @project] do |f| %>
          <%= f.text_field :title, class: 'form-control', placeholder: 'The Pawnee Commons' %>
          <%= link_to 'Create new task', '#' %>
          <%= f.submit "Create project", class: 'btn btn-warning', id: 'project-button' %>
          <% end %>
        </div>
    </div>
  