<div class = "form-group">
	<%= form_for @project do |f| %> 
	<%= f.text_field :title, class: 'form-control', placeholder: 'The pawnee Commons' %>
	
</div> <!-- form group-->

<p class = "text-center"><%= f.submit class: 'btn btn-warning' %> </p>

	<% end %>