
<% if user_signed_in? %>
	<div class="container-fluid">
		<div class="row">
			<div class ="Absolute-Center is-Responsive">
				<div class = "col-md-3">
					<div class = "dashboard-content">
						<p><h2>Make an announcement: </h2></p>
							<%= render "pages/announcement_form" %>
					</div>
				</div>
				<div class = "col-md-3">
					<div class = "dashboard-content">
						<p><h2>Compliment a co-worker: </h2></p>
						<%= render "pages/compliment_form" %>
					</div>
				</div>
				<div class = "col-md-3">
					<div class = "dashboard-content">
						<p><h2>Start a project: </h2></p>
						<%= render "pages/project_form" %>
					</div>
				</div>
				<div class = "col-md-3">
					<div class = "dashboard-content">
						<p><h2>Mark a friend-iversary: </h2></p>
						<%= render "pages/anniversary_form" %>
					</div>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "Absolute-Center is-Responsive">
				<div class = "col-md-3" >
					<p class="text-center title">Recent Announcements:</p>
					<%= render @announcements %>
				</div>
				<div class = "col-md-3" >
					<p class="text-center title">Recent Compliements:</p>
					<%= render @compliments %>
				</div>
				<div class = "col-md-3" >
					<p class="text-center title">Current Projects:</p>
					
					<%= render @projects %>

				</div>
				<div class = "col-md-3" >
					<p class="text-center title">Today's friend-iversaries:</p>
				</div>
			</div>
		</div>
	</div> <!-- container-->
<% end %> <!-- user_signed_in? -->
