<div class = "post">
	<p><%= project.title %> <%= link_to "delete", project, method: :delete, data: { confirm: "You sure?" }, class: "text-right" %></p>
	<%= render project.tasks %>
	<ul>
		<%= render 'tasks/form', project: project %>
	</ul>
</div>
