
<div class = "post">
	<p class = "post_title">
		<% if !post.created_at.blank? %>
			<strong> On <%= post.created_at.strftime("%b %e, %Y") %> </strong>  <%= link_to "delete", [@user, post], method: :delete, data: { confirm: "You sure?" }, class: "text-right" %>
		<%end%>
	</p>
	<p class = "post_content">
		<% if !post.content.blank? %>
			<%= post.content %>
		<% end %>
	</p>
</div>
