/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
	border-radius: 0 !important;
}

.navbar-inverse {

	background-color: #DBB68D;
	border: none;
	z-index: 1000;
	position: fixed;
	width: 100%;
}

.navbar-inverse .navbar-brand {

	color: white;
}

.btn-default {

	background-color: white;
	color: #AD6139;
	border: 0px none;
	box-shadow: none;
	padding: 5px;

}
.dashboard-container {
	max-height: 500px;
	
}
.dashboard-content {
	width: 100%;
	background: white;
	text-align: center;
	padding: 10px;
	border-bottom: 3px solid #DBB68D;
	
}

.Absolute-Center {
  margin: auto;
 
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 100%; 
  height: 100%;
  min-width: 200px;
  max-width: 100%;
  padding: 40px;
  background: #f5f5f5;
  overflow: auto;
}

a {
	
	color: #DBB68D;
}

.nav li a {
	padding: 5px;
}

.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover {
	background-color: #DBB68D;
	
}

.nav-pills li a:hover {
	color: #DBB68D;

}

.panel{

	border: 0;
	border-bottom: 1px;
	box-shadow: none;

}

.post {
	background: white;
	padding: 10px;
	margin: 0 0 5px 0;
	box-shadow: 0px 2px 2px #B5B4B2;


}

.sidebar {

	position: fixed;
	top: 50px;
	left: 0;
	height: 100%;
	background-color: #f5f5f5;
}

 select.form-control {
	-webkit-appearance: none;
	background-color: #f5f5f5;
	border: none;
}

*.form-control {
	-webkit-appearance: none;
	border: 0 none;
	box-shadow: none;

}

.title {
	border-bottom: 1px solid #DBB68D;
	color: #969696;
	font-size: 1.5em;
}




