<!DOCTYPE html>
<html>
<head>
  <title>BootTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'custom' %>
  <%= csrf_meta_tags %>
</head>
<body>

	
		
	<div class = "navbar navbar-inverse">
		<div class="container-fluid">
			<%= link_to "KnopeBook", root_path, class: 'navbar-brand' %>
			<ul class="nav nav-pills navbar-right">
				<li><%= link_to "Log In", new_user_session_path, class: 'btn navbar-btn btn-default' %></li>
				<% if user_signed_in? %>
					<li><%= link_to "Log Out", destroy_user_session_path, :method => 'delete', class: 'btn navbar-btn btn-default' %></li>
					<li><%= link_to "Profile", user_path(current_user), class: 'btn navbar-btn btn-default' %></li>
					<li><h4>Hello <%= @user.username %></h4></li>
				<% end %>
				

			</ul>
		</div>
	</div>
			<!-- nav sidebar for larger devices 
<div class = "col-md-2 hidden-xs hidden-sm sidebar">
				<div class = "list-group">
					<%= link_to "Projects", "#", class: "list-group-item list-group-item-warning" %>
					<%= link_to "Anniversaries", "#", class: "list-group-item list-group-item-warning" %>
					<%= link_to "Friends", "#", class: "list-group-item list-group-item-warning" %>
				</div>
			</div> 
 nav top buttons for smaller devices 
<div class = "col-xs-12 hidden-md hidden-lg">
				<div class = "list-group">
					<%= link_to "Projects", "#", class: "list-group-item list-group-item-warning" %>
					<%= link_to "Anniversaries", "#", class: "list-group-item list-group-item-warning" %>
					<%= link_to "Friends", "#", class: "list-group-item list-group-item-warning" %>
				</div>
			</div>
		/sidebar --> 
	
		<p class="alert"><%= alert %></p>
	
		<%= yield %>
		
</body>
</html>
